<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.pddstudio.otgsubs">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:name=".OTGSubsApplication_">
		<activity android:name=".MainActivity_">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".SettingsActivity_" />

		<service
			android:name=".services.PackageService_"
			android:exported="false" />
		<service
			android:name=".services.ImportApkService_"
			android:exported="false" />
		<service android:name=".services.PatchTemplateService_"
			android:exported="false" />

	</application>

</manifest>